@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-your-needful-style {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
  }
}
@font-face{
    font-family: "burtons";
    src: url("../public/Burtons.otf")
}
.canvas-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
  pointer-events: none; /* Optional, depending on your use case */
}
html, body,#root{
    width:100%;
    height:100%;
    margin: 0;
    padding:0;
}

.radial-gradient {
    background: radial-gradient(
            circle at 50% 0%,
            rgba(var(--radial-gradient-background), 0.05) 0%,
            transparent 60%
        )
        rgba(var(--solid-color-background), 1);
}

.linear-mask {
    mask-image: linear-gradient(
        -75deg,
        white calc(var(--x) + 20%),
        transparent calc(var(--x) + 30%),
        white calc(var(--x) + 100%)
    );
    -webkit-mask-image: linear-gradient(
        -75deg,
        white calc(var(--x) + 20%),
        transparent calc(var(--x) + 30%),
        white calc(var(--x) + 100%)
    );
}

.linear-overlay {
    background-image: linear-gradient(
        -75deg,
        rgba(var(--overlay-color), 0.1) calc(var(--x) + 20%),
        rgba(var(--overlay-color), 0.5) calc(var(--x) + 25%),
        rgba(var(--overlay-color), 0.1) calc(var(--x) + 100%)
    );
    mask:
        linear-gradient(black, black) content-box,
        linear-gradient(black, black);
    -webkit-mask:
        linear-gradient(black, black) content-box,
        linear-gradient(black, black);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
}